<div class="header-right-top">
  <select name="language" id="language">
    <option value="vietnamese">🇻🇳 Tiếng Việt</option>
    <option value="english">🇬🇧 English</option>
  </select>
<!--  <span class="btn-app" href="#">-->
<!--                    <img src="image/lotteria_logo.png" alt="">-->
<!--                    Download App-->
<!--                </span>-->

  <button mat-fab extended class="btn">
      <span class="btn-app" href="#">
                    <img src="image/lotteria_logo.png" alt="">
                    Download App
                </span>
  </button>
</div>
