.container {
  margin: 0 192.4px;
  padding: 40px 15px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.scoll {
  width: 100%;
  height: 22.4px;
  /* background-color: #FF5B6A; */
  display: flex;
  justify-content: center;
  align-items: space-between;

}



