a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-decoration: none;
  /* border: #fff 1px solid; */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px #EAEAEA;

  img {
    width: auto;
    height: 20px;
    margin: 0 11.5px;
    filter: invert(1);
  }
}
